<div class="page" fxLayout="column" fxLayoutAlign="center center">
  <div [@fadeInUp] class="card border-radius elevation">
    <div class="header padding background-primary" fxLayout="column" fxLayoutAlign="center center">

      <div class="header padding " fxLayout="column" fxLayoutAlign="center center">
        <div class="wrapper">
          <div >
            <img src="./assets\icons\baseline_local_taxi_white_18dp.png">
          </div>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <form [formGroup]="form" (submit)="send()">
      <div class="padding" fxLayout="column" fxLayoutGap="16px">
        <div fxFlex="auto" fxLayout="column">
          <mat-form-field fxFlex="grow">
            <mat-label>First Name</mat-label>
            <input matInput required formControlName="firstName">
            <mat-error *ngIf="form.get('firstName').hasError('required')">We need your name to register you</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="grow">
            <mat-label>Last Name</mat-label>
            <input matInput required formControlName="lastName">
            <mat-error *ngIf="form.get('lastName').hasError('required')">We need your last name to register you</mat-error>

          </mat-form-field>

          <mat-form-field fxFlex="grow">
            <mat-label>E-Mail</mat-label>
            <input matInput required formControlName="username">
            <mat-error *ngIf="form.get('username').hasError('required')">We need an email to register you</mat-error>
            <mat-error *ngIf="!form.get('username').hasError('required')">We need an email to register you</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="grow">
            <mat-label>Password</mat-label>
            <input matInput [type]="inputType" formControlName="password" required>
            <!--          <button type="button" mat-icon-button matSuffix (click)="toggleVisibility()" matTooltip="Toggle Visibility">-->
            <!--            <mat-icon *ngIf="visible">visibility</mat-icon>-->
            <!--            <mat-icon *ngIf="!visible">visibility_off</mat-icon>-->
            <!--          </button>-->
            <!--          <mat-hint>Click the eye to toggle visibility</mat-hint>-->
            <mat-error *ngIf="form.get('password').hasError('required')">Use 8+ characters with a  of letters, numbers & symbol</mat-error>
            <mat-error *ngIf="!form.get('password').hasError('required')">Use 8+ characters with a  of letters, numbers & symbol</mat-error>
          </mat-form-field>


          <mat-form-field fxFlex="grow">
            <mat-label>Phone Number</mat-label>
            <input matInput required formControlName="phone">
            <mat-error *ngIf="form.get('phone').hasError('required')">We need your phone number to register you</mat-error>

          </mat-form-field>
          <!--       -->
          <!--        <mat-form-field fxFlex="grow">-->
          <!--          <mat-label>Pas  sword (Confirm)</mat-label>-->
          <!--          <input matInput [type]="inputType" formControlName="passwordConfirm" required>-->
          <!--          <button type="button" mat-icon-button matSuffix (click)="toggleVisibility()" matTooltip="Toggle Visibility">-->
          <!--            <mat-icon *ngIf="visible">visibility</mat-icon>-->
          <!--            <mat-icon *ngIf="!visible">visibility_off</mat-icon>-->
          <!--          </button>-->
          <!--          <mat-hint>Please repeat your password from above</mat-hint>-->
          <!--        </mat-form-field>-->
          <!--      </div>-->

          <!--      <div fxLayout="row" fxLayoutAlign="center center">-->
          <!--        <mat-checkbox class="caption">I accept the <a href="#">terms and conditions.</a></mat-checkbox>-->
          <!--      </div>-->
          <button type="submit" color="primary" mat-raised-button>
            CREATE ACCOUNT
          </button>
          <p class="secondary-text text-center">
            Already have an account?<br/>
            <a [routerLink]="['/login']">Sign in here</a>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>


