<div class="page" fxLayout="column" fxLayoutAlign="center center">
  <div [@fadeInUp] class="card border-radius elevation">
    <form>
      <div  style="padding:15px;">
       <span fxLayout="row" fxLayoutAlign="start center">
      <!-- <img class="avatar" src="assets/img/avatars/default.jpg"> -->
      <span class="name" fxHide fxShow.gt-xs style="width:150px">
      Name:
      </span>
        <span class="name" fxHide fxShow.gt-xs>
      Endrit
      </span>
    </span>

      </div>
      <hr>
      <div  style="padding:15px;">
       <span fxLayout="row" fxLayoutAlign="start center">
      <!-- <img class="avatar" src="assets/img/avatars/default.jpg"> -->
      <span class="name" fxHide fxShow.gt-xs style="width:150px">
      Surname:
      </span>
        <span class="name" fxHide fxShow.gt-xs>
      Toplica
      </span>
    </span>
      </div>

      <hr>
      <div  style="padding:15px;">
       <span fxLayout="row" fxLayoutAlign="start center">
      <!-- <img class="avatar" src="assets/img/avatars/default.jpg"> -->
      <span class="name" fxHide fxShow.gt-xs style="width:150px">
      Email:
      </span>
        <span class="name" fxHide fxShow.gt-xs>
      endrit.toplica@abc.com
      </span>
    </span>
      </div>

      <hr>
      <div  style="padding:15px;">
       <span fxLayout="row" fxLayoutAlign="start center">
      <!-- <img class="avatar" src="assets/img/avatars/default.jpg"> -->
      <span class="name" fxHide fxShow.gt-xs style="width:150px">
      Phone:
      </span>
        <span class="name" fxHide fxShow.gt-xs>
      +3834428428
      </span>
    </span>
      </div>
    </form>
  </div>
</div>
