<div class="page" fxLayout="column" fxLayoutAlign="center center">
  <div [@fadeInUp] class="card border-radius elevation">
    <div class="header padding background-primary" fxLayout="column" fxLayoutAlign="center center">

      <div class="header padding " fxLayout="column" fxLayoutAlign="center center">
        <div class="wrapper">
          <div >
            <img src="./assets\icons\baseline_local_taxi_white_18dp.png">
          </div>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <form [formGroup]="form" (submit)="send()">
      <div class="padding" fxLayout="column" fxLayoutGap="16px">
        <div fxFlex="auto" fxLayout="column">

          <mat-form-field fxFlex="grow">
            <mat-label>Old password</mat-label>
            <input matInput [type]="inputType" formControlName="oldPassword" required>
            <mat-error *ngIf="form.get('oldPassword').hasError('required')">
              Use 8 or more characters with a mix of letters, numbers & symbols</mat-error>
            <mat-error *ngIf="!form.get('oldPassword').hasError('required')">Use 8+ characters with a  of letters, numbers & symbol</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="grow">
            <mat-label>New password</mat-label>
            <input matInput [type]="inputType" formControlName="newPassword" required>
            <mat-error *ngIf="form.get('newPassword').hasError('required')">
              Use 8 or more characters with a mix of letters, numbers & symbols</mat-error>
            <mat-error *ngIf="!form.get('newPassword').hasError('required')">Use 8+ characters with a  of letters, numbers & symbol</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="grow">
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="inputType" formControlName="confirmPassword" required>
            <mat-error *ngIf="form.get('confirmPassword').hasError('required')">
              Use 8 or more characters with a mix of letters, numbers & symbols</mat-error>
            <mat-error *ngIf="!form.get('confirmPassword').hasError('required')">Use 8+ characters with a  of letters, numbers & symbol</mat-error>
          </mat-form-field>

          <button type="submit" color="primary" mat-raised-button>
            Change Password
          </button>
        </div>
      </div>
    </form>
  </div>



